html, body {
	margin: 0;
	padding: 0;
	width:  100%;
}

body {
	font-family: Quicksand, san serif;
}

header {
	width: 100%;
	height: 100vh;
	background: url(_image/tumblr_mlqfo7m8be1rlj2h3o1_1280.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.content {
	width: 45%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo a {
	position: fixed;
	float: left;
	margin: 16px 20px;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

nav{
	position: fixed;
	width: 100%;
}

nav ul {
	list-style: none;
	background: rgba(0,0,0,0); 
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: 1s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.menu-icon {
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

.network{
	text-align: right;
	padding: 15px 24px;
}

label, input[type=submit], input[type=text], textarea{
	display: block;
	width: 630px;
}
textarea{
	width: 625px;
	height: 80px;
}
input[type=submit]{
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
}
input[type=submit]:hover{
	background: #000;
}

@media(max-width: 580px) {
	.logo a {
		position: fixed;
		top: 0;
		margin-top: 16px;
	}
	nav ul {
		max-height: 0px;
		background: #000;
	}

	nav.black ul {
		background: #000;
	}

	.showing {
		max-height: 20em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	.menu-icon{
		display: block;
	}

	
}

.footer{
	background: #000;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-weight: 100;
}






